//common-wp styles
.alignleft {
  float: left;
  margin-right: 20px;
}

.alignright {
  float: right;
  margin-left: 20px;
}

//loader
#nprogress {
  pointer-events: none;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;

  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .spinner-icon {
    width: 50px;
    height: 50px;
    box-sizing: border-box;

    border: solid 5px transparent;
    border-top-color: #007cba;
    border-left-color: #007cba;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.sli-cont{
  padding: 0 25px;
  height: 500px;
}
.sli{
  border-radius: 64px;
  height: 100%;
}
.bottomSlider{
  .slick-dots{
    // margin-top: 2rem;
    // top: 2rem;
    bottom: -3rem;
    text-align: start;
  }
}
.bottomSlider2{
  width: 40%;
}
.memberback{
  background-image: url('/images/e-back2.svg'), url('/images/e-back1.svg');
  background-size: 550px 550px, 550px 550px ;
  background-repeat: no-repeat;
  background-position: left center , right bottom;
}
.custom-divider{
  // border: 1px solid #007cba;
  height: 7px;
  width: 250px;
  // background-color: #007cba;
  background: #0398fc; 
  border-radius: 8px;
  opacity: 1;
}
.custom-grid{
  .slick-slider .slick-list .slick-track div{
    display: grid;
  }
}

