body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
label,
input,
textarea,
li {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  color: $text-color;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  word-wrap: break-word;
  font-kerning: normal;
  line-height: 1.75;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

ul {
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 0;
  list-style-position: outside;
  list-style-image: none;
  list-style: none;

  li {
    margin-bottom: calc(1.75rem / 2);
  }
}

a {
  text-decoration: none;
  box-shadow: none;
}

input:focus {
  outline: none;
}

hr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid $color-white;
  opacity: .5;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin: 0 !important;
}

//spacing-style
.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.mt-10,
.my-10 {
  margin-top: 10px !important;
}

.mt-20,
.my-20 {
  margin-top: 20px !important;
}

.mt-30,
.my-30 {
  margin-top: 30px !important;
}

.mt-50,
.my-50 {
  margin-top: 50px !important;
}

.mt-70,
.my-70 {
  margin-top: 70px !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0px !important;
}

.mb-10,
.my-10 {
  margin-bottom: 10px !important;
}

.mb-20,
.my-20 {
  margin-bottom: 20px !important;
}

.mb-30,
.my-30 {
  margin-bottom: 30px !important;
}

.mb-40,
.my-40 {
  margin-bottom: 40px !important;
}

.mb-50,
.my-50 {
  margin-bottom: 50px !important;
}

.mb-70,
.my-70 {
  margin-bottom: 70px !important;
}

.mx,
.mr-0 {
  margin-right: 0 !important;
}

.mx,
.ml-0 {
  margin-left: 0 !important;
}

.ml-10 {
  margin-left: 10px !important;
}

//no-spacing
.no-margin {
  margin: 0
}

.no-padding {
  padding: 0
}

.no-border {
  border: none !important;
}

//display
.flex {
  display: flex;
}

.inline-block {
  display: inline-block;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

//position
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}