//main-colors
$text-color: #2d343e;
$text-secondary-color: #203047;
$light-gray: #ebf1f9;
$gray-color: #666666;
$dark-gray: #444444;
$border-gray: #cccccc;

//base-colors
$color-white: #fff;
$dark-text: #2e2e2e;